body html {
    height: 100%;
    font-size: 12.5pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

h2 {
    color: rgb(245, 234, 180);
    font-size: 3em;
}

.titleInfo {
    font-size: 1.5;
    color: pink;
    padding-top: 22px;
    padding-left: 10px;
}

nav li {
    list-style: none;
    display: inline;
    margin: 20px;
}

nav a {
    font-style: unset;
    color: bisque;
    font-weight: 700;
}

.infoText {
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

#headerImg {
    display: flex;
    width: auto;
}

img {
   
}